doctype html
html
  head
    title= 'Response time statistics'
    link(href= 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel= "stylesheet")
    style(type='text/css').
      .pad20 {
        padding-top: 20px;
      }


  body
    div(class="container")
      div(class="row pad20")
        div(class="col")
          h1= 'Response time statistics'
        div(class="col-3")
          div(id="avg", class="alert alert-primary")

      form(action="#")
        div(class="row pad20")
          div(class="col-5")
            input(type="text", class="form-control", placeholder="Search", id="search")
          div(class="col-2")
            select(class="form-control", id="status")
              option(value="") All
              option(value="2") 2xx
              option(value="3") 3xx
              option(value="4") 4xx
              option(value="5") 5xx
              option(value="400") 400
              option(value="401") 401
              option(value="403") 403
              option(value="404") 404
              option(value="500") 500
          div(class="col-2")
            input(class="form-control", value="1000", id="limit", placeholder="Limit")
          div(class="col-3")
            select(class="form-control", id="sort")
              option(value="CREATED_AT_DESC") CreatedAt DESC
              option(value="CREATED_AT_ASC") CreatedAt ASC
              option(value="TIME_DESC") Time DESC
              option(value="TIME_ASC") Time ASC
          
      div(class="row pad20")
        div(class="col")
          table(class="table table-striped table-hover", id="data-table")
            thead
              tr
                th= "Id"
                th= "Subject"
                th= "Status"
                th= "Time (ms)"
                th= "Created"
            tbody
           

    script(src="https://code.jquery.com/jquery-3.3.1.min.js") 
    script.
      const baseURL = window.location.protocol + "//" + window.location.host;

      getRecords();

      $("#search").keyup(getRecords);

      $("#status").change(getRecords);

      $("#limit").keyup(getRecords);

      $("#sort").change(getRecords);

      function getRecords() {
        const subject = $("#search").val();
        const status = $("#status").val();
        const limit = $("#limit").val();
        const sort = $("#sort").val();

        $.getJSON(baseURL + "/statz/search?subject=" + subject 
          + "&status="+ status + "&limit=" + limit + "&sort=" + sort, (data) => {
          let trows = "";

          let totalTime = 0;

          data.forEach(row => {
            trows += "<tr>"
              + "<td title="+ row.id + ">" + row.id.substring(0, 5) + "</td>"
              + "<td>" + row.subject + "</td>"
              + "<td>" + row.status + "</td>"
              + "<td>" + row.time + "</td>"
              + "<td title="+ row.createdAt +">" + row.createdAt.substring(0, 10) + "</td>"
              + "</tr>";

            totalTime += parseInt(row.time);
          });

          $("#data-table tbody").html(trows);

          let avg = (totalTime / data.length).toFixed(2);

          $("#avg").html("Average time - " +  avg + " ms");
        });
      }
